* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: minmax(200px, 400px) auto;
  min-width: 1500px;
  min-height: 100vh;
}

li {
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding: 0 0 10px 15px;
}

.nav-bar {
  background-color: #0ea5e9;
}

.content-body {
  background-color: lightgray;
  width: 100%;
  display: grid;
  grid-template-rows: 0.2fr 0.8fr;
}

.top-nav {
  height: 200px;
  background-color: white;
  box-shadow: 0 6px 4px -4px rgb(184, 182, 182);
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  justify-content: space-between;

}

.main-content {
  padding-right: 10px;
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
  grid-template-rows: 1fr 1fr;
}

.dash-logo {
  padding: 20px 20px 30px 20px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 30px;
  gap: 10px;
}

.dash-icon {
  padding-top: 5px;
}

.top-links {
  padding: 10px;
}

.bottom-links {
  padding: 10px;
}

.projects {
  padding: 5px;
  grid-row: 1 / 3;
  max-height: 925px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.projects-title {
  margin-left: 10px;
  justify-content: center;
}

.projects-container {
  display: grid;
  min-width: 800px;
  justify-content: center;
  grid-template-rows: repeat(3, minmax(250px, 300px));
  grid-template-columns: repeat(auto-fill, minmax(200px, 425px));
}

.announcements {
  min-width: 200px;
  margin-bottom: 20px;
}

.announcement {
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 10px 0 10px 0;
}

#ann-1 {
  border-bottom: 1px solid lightgray;
}

#ann-2 {
  border-bottom: 1px solid lightgray;
}

.trending {
  min-width: 200px;
  margin-bottom: 20px;
}

.announcement-container {
  padding: 0 20px 0 20px;
  height: 90%;
  width: 80%;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 7px;
  box-shadow: 3px 3px 4px rgb(184, 182, 182);
}

.trending-container {
  text-align: center;
  padding: 0 20px 0 20px;
  height: 90%;
  width: 80%;
  background-color: white;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  border-radius:7px;
  box-shadow: 3px 3px 4px rgb(184, 182, 182);
}

.card {
  margin: 10px;
  background-color: white;
  box-shadow: 3px 3px 4px rgb(184, 182, 182);
  border-radius: 7px;
  overflow: hidden;
}

.accent {
  height: 100%;
  width: 10px;
  background-color: orange;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

button {
  padding: 10px 30px 10px 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  background-color: #60a5fa;
  color: white;
  border-style: none;
}

.search-container {
  background-color: lightgray;
  height: 50px;
  width: 600px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 20px 0 0 20px;
  padding-bottom: 2px;
}

.search-icon {
  padding-top: 7px;
}

.search-bar {
  color: rgb(46, 46, 46);
  font-size: 25px;
  border-style: none;
  background: none;
  height: 30px;
  width: 500px;
  outline: none;
  padding-left: 3px;
}

